@page
@model GolfClub.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeeMembers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeeMembers.BookingTime" class="control-label"></label>
                <input asp-for="TeeMembers.BookingTime" class="form-control" />
                <span asp-validation-for="TeeMembers.BookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeeMembers.Player1" class="control-label"></label>
                <input asp-for="TeeMembers.Player1" class="form-control" />
                <span asp-validation-for="TeeMembers.Player1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeeMembers.Player2" class="control-label"></label>
                <input asp-for="TeeMembers.Player2" class="form-control" />
                <span asp-validation-for="TeeMembers.Player2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeeMembers.Player3" class="control-label"></label>
                <input asp-for="TeeMembers.Player3" class="form-control" />
                <span asp-validation-for="TeeMembers.Player3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeeMembers.Player4" class="control-label"></label>
                <input asp-for="TeeMembers.Player4" class="form-control" />
                <span asp-validation-for="TeeMembers.Player4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
