@page
@model IndexModel
@{
    ViewData["Title"] = "Golf Club Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Golf Club</h1>

   <div class="card mx-auto" style="width: 50rem;">
    <img class="card-img-top" src="~/images/golfmain.jpeg" alt="Card image cap">
    <div class="card-body">
        <small class="card-text">image by istockphoto.com</small>
    </div>
  </div>
  </div>
  

